
body{ 
    margin : 0;
    height: 100%;
}


html {
    height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  /* flex-wrap: wrap; */
  align-items: stretch;
  height: 100%; 
}

header {
  background-color: aquamarine;
  padding: 2rem;
  padding-top: 3rem;
}
/* todo rename  */
.low {
    margin-top: 0;
}
/* todo rename  */
.hight {
    margin-bottom: 0;
}