body,
html {
  margin: auto;
  height: 100%;
}

.flex-container {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 650px) {
  .flex-container {
    flex-direction: row;
  }
}

.flex-item {
  width: 100%;
}

.item-1 {
  background-color: rgba(0, 0, 0, 0.56);
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

.item-2 {
  background-color: rgba(255, 255, 240);
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

.item-3 {
  background-color: rgba(192, 192, 192, 0.8);
}

h1 {
  color: rgb(188, 143, 143);
  font-size: 30px;
  text-decoration: underline;
  padding-left: 2.5%;
  margin-bottom: 0;
}

.photo {
  padding-left: 3%;
  padding-top: 1%;
}

.menu {
  float: right;
  padding-right: 40px;
  font-size: 20px;
  color: rgb(255, 228, 225);
}

li > nav > a {
  color: rgb(255, 228, 225);
}

.h-2 {
  color: rgba(100, 30, 22, 0.6);
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

p {
  text-align: left;
  font-size: 25px;
  padding-left: 25rem;
  padding-top: 2rem;
  color: rgb(160, 82, 45);
}
.list {
  text-align: left;
  font-size: 25px;
  padding-left: 25rem;
  padding-top: 2rem;
  color: rgb(160, 82, 45);
}

pre {
  background-color: rgba(77, 182, 172, 0.1);
  border-left: 8px solid rgba(0, 77, 64, 0.4);
  color: rgba(100, 30, 22, 0.8);
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-variant: small-caps;
  margin-left: 20rem;
  margin-right: 30rem;
}

footer {
  text-decoration: underline;
  font-variant: small-caps;
  font-size: 19px;
}

h2 {
  text-decoration: underline;
  font-variant: small-caps;
  font-size: 19px;
  padding-left: 2rem;
}

.logo {
  float: right;
  height: 10%;
}

.link-git {
  color: rgb(255, 228, 225);
  animation: color-change 5s infinite;
}

.footer-contact-information {
  float: left;
}

@keyframes color-change {
  0% {
    /* color: rgba(230, 176, 170); */
    /* color:  rgb(255, 228, 225); */
    color: rgb(173, 255, 47);
  }
  25% {
    color: rgb(255, 255, 0);
  }

  25% {
    color: rgb(50, 205, 50);
  }

  100% {
    color: rgb(47, 79, 79);
  }
}

ul {
  list-style-type: none;
}
